.detail {
  display: flex;
  height: 100vh;
  column-gap: 70px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .dataword {
    margin-top: 70px;
    // column-gap: 30px;
  .bankcard{
    background-color: #F7F7F7;
text-align: center;
    img{
      width: 200px;
      height: 30px;
    }
  }
    .buttons {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .addto {
        width: 300px;
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
        background-color: white;
        color: black;
        font-weight: bold;
      }
      .addto:hover {
        background-color: black;
        color: white;
      }
      .buyit {
        width: 500px;
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
        background-color: black;
        color: white;
        font-weight: bold;
      }
    }
    .detailicon {
      display: flex;
      column-gap: 50px;
      p {
        cursor: pointer;
      }
      p:hover {
        opacity: 0.7;
      }
    }
  }

  img {
    height: 100px;
  }

  .thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    .img2 {
      img {
        height: 600px;
      }
    }
    .img1 {
      // row-gap: 70px;

      img {
        display: block;
      }
    }
  }

  // .modal2{
  //   a{
  //     color: black;
  //   }
  //   }
}
.detailbottom{
  display: flex;
justify-content: center;
align-items: center;
column-gap: 70px;
@media only screen and (max-width: 768px) {
  flex-direction: column;
  margin-top: 80%;
}
img{
margin-left: 100px;
width: 460px;
@media only screen and (max-width: 768px) {
  width: 450px;
}
}

 }

 